{% block portfolio %}
{% load static %}

<section class="home_gallery_area p_120">
    <div class="container">
        <div class="main_title">
            <h2>My Latest Featured Projects</h2>
        </div>
        
    </div>
    <div class="container">
        <div class="gallery_f_inner row imageGallery1">
            <div class="col-lg-4 col-md-4 col-sm-6 brand manipul design print">
                <div class="h_gallery_item">
                    <a class="pe-auto" href="{% url 'prt3' %}">
                   
                       <div class="g_img_item">
                           <img class="img-fluid profolio_imagess" src="{% static '/img/portfolio/pharsight1.png' %}" alt="">
                       </div>
                       <div class="g_item_text">
                           <h4>Pharsight Medical site</h4>
                       </div>
                   </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 brand manipul design print">
                <div class="h_gallery_item">
                    <a class="pe-auto" href="{% url 'Hallour' %}">
                   
                       <div class="g_img_item">
                           <img class="img-fluid profolio_imagess" src="{% static '/img/portfolio/hallour.png' %}" alt="">
                       </div>
                       <div class="g_item_text">
                           <h4>Hallour Project</h4>
                       </div>
                   </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 brand manipul design print">
                <div class="h_gallery_item">
                    <a class="pe-auto" href="{% url 'Hallour' %}">
                   
                       <div class="g_img_item">
                           <img class="img-fluid profolio_imagess" src="{% static '/img/portfolio/domain_market.png' %}" alt="">
                       </div>
                       <div class="g_item_text">
                           <h4>Domain Marketplace</h4>
                       </div>
                   </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 brand manipul design print">
                <div class="h_gallery_item">
                    <a class="pe-auto" href="{% url 'prt1' %}">
                   
                       <div class="g_img_item">
                           <img class="img-fluid profolio_imagess" src="static/img/prt/prt1_1.png" alt="asasas">
                       </div>
                       <div class="g_item_text">
                           <h4>LikeMeFast</h4>
                       </div>
                   </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 brand manipul design print">
                <div class="h_gallery_item">
                    <a class="pe-auto" href="{% url 'prt2' %}">
                   
                       <div class="g_img_item">
                           <img class="img-fluid profolio_imagess" src="static/img/prt/prt2_1.png" alt="">
                       </div>
                       <div class="g_item_text">
                           <h4>CoinHomes</h4>
                       </div>
                   </a>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-4 col-sm-6 brand manipul design print">
                <div class="h_gallery_item">
                    <a class="pe-auto" href="{% url 'prt4' %}">
                   
                       <div class="g_img_item">
                           <img class="img-fluid profolio_imagess" src="https://sgwebpartners.com/wp-content/uploads/2019/04/woocommerce-wholesale-storm-creek-983x553.jpg" alt="">
                       </div>
                       <div class="g_item_text">
                           <h4>Shree Text-tile</h4>
                       </div>
                   </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 brand manipul design print">
                <div class="h_gallery_item">
                    <a class="pe-auto" href="{% url 'prt5' %}">
                   
                       <div class="g_img_item">
                           <img class="img-fluid profolio_imagess" src="{% static '/img/portfolio/youtube-automation.jpg' %}" alt="">
                           <div class="light" ><img src="{% static '/img/gallery/icon.png' %}" alt=""></div>
                       </div>
                       <div class="g_item_text">
                           <h4>YouTube Automation</h4>
                       </div>
                   </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 brand manipul design print">
                <div class="h_gallery_item">
                    <a class="pe-auto" href="{% url 'prt5' %}">
                   
                       <div class="g_img_item">
                           <img class="img-fluid profolio_imagess" src="static/img/prt/prt5_1.webp" alt="">
                       </div>
                       <div class="g_item_text">
                           <h4>Instagram Bot</h4>
                       </div>
                   </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 brand manipul design print">
                <div class="h_gallery_item">
                    <a class="pe-auto" href="{% url 'prt6' %}">
                   
                       <div class="g_img_item">
                           <img class="img-fluid profolio_imagess" src="{% static '/img/prt/SUPER.jpg' %}" alt="noo">
                       </div>
                       <div class="g_item_text">
                           <h4>Flask Dyzner</h4>
                       </div>
                   </a>
                </div>
            </div>
   
        </div>
    </div>
</section>

{% endblock portfolio %}
