{% extends "base.html" %}

{% block title %}Cart Shopping{% endblock %}

{% block content %}

<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="box_1620">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content text-center">
                    <h2>CoinHomes</h2>
                    <div class="page_link">
                        <a href="{% url 'home' %}">Home</a>
                        <a href="{% url 'about' %}">CoinHomes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->


<!--================Home Banner Area =================-->
<section class="profile_area">
       <div class="container">
           <div class="profile_inner p_rem">
            <div class="row">
                <div style="padding-bottom: 2rem; " class="m-auto"	>
                    <h1 class="text-center">This is project heading</h1>
                    <p class="text-center"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, quia!</p>
                </div>

                <!-- <div class="col-lg-7">
                    <div class="personal_text">
                        <h6>Hello Everybody, i am</h6>
                        <h3>Riken Khadela</h3>
                        <h4>Senior Python Developer</h4>
                        <p>"Experienced Python Developer with a proven track record of delivering high-quality code and solutions."</p>
                        <ul class="list basic_info">
                            <li><a href=""><i class="lnr lnr-calendar-full"></i> 21st, Aug, 2001</a></li>
                            <li><a href=""><i class="lnr lnr-phone-handset"></i> (91) 997 891 1838</a></li>
                            <li><a href="mailto:rikenkhadelamain@gmail.com"><i class="lnr lnr-envelope"></i> rikenkhadelamain@gmail.com</a></li>
                            <li><a href=""><i class="lnr lnr-home"></i> Surat, Gujrat, In. - 395010</a></li>
                        </ul>
                        <ul class="list personal_social">
                            <li><a href="https://www.facebook.com/riken.khadela.3/"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/riken-khadela-60b6341a6/"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div> -->
                <div class="">
                    <img class="img-fluid rounded-1" style="border-radius: 1.3rem;" src="static/img/portfolio/HC1-1080x720.jpg" alt="">
                </div>
            </div>
           </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Welcome Area =================-->
<section class="welcome_area p_120">
    <div class="container">
        <div class="row welcome_inner">
            <div class="col-lg-6">
                <div class="welcome_text">
                    <h4>What is about this project</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim hic dolore alias ut consequuntur? Voluptatibus laudantium nobis voluptates accusantium quam eos reiciendis facere nulla. Eos adipisci optio accusantium labore, dignissimos ullam debitis ex aliquid dicta nemo eum nulla sed. Debitis facere laboriosam atque architecto laudantium laborum dolore aliquam, velit eum obcaecati provident culpa alias libero ducimus in commodi eos rem! Necessitatibus, commodi pariatur, quo cum tempora aspernatur consequatur repellendus rerum dolorum sunt eum quasi sed, fuga iste doloribus neque quaerat vitae sequi? Voluptas doloremque natus esse error hic sequi qui, facilis placeat nisi vero numquam quasi eum dolore. Numquam, officiis.</p>
                    <div class="row">
                        <!-- <div class="col-md-4">
                            <div class="wel_item">
                                <i class="lnr lnr-database"></i>
                                <h4>$2.5M</h4>
                                <p>Total Donation</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="wel_item">
                                <i class="lnr lnr-book"></i>
                                <h4>1465</h4>
                                <p>Total Projects</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="wel_item">
                                <i class="lnr lnr-users"></i>
                                <h4>3965</h4>
                                <p>Total Volunteers</p>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="tools_expert">
                    <div class="m-auto">
                        <h4>What skills have been used </h4>
                        <p></p>
                    </div>
                    <div class="skill_main">

                        <div class="skill_item">
                            <h4>Technology 1 <span class="counter">100</span>%</h4>
                            <div class="progress_br">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="skill_item">
                            <h4>Technology 1<span class="counter">80</span>%</h4>
                            <div class="progress_br">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="skill_item">
                            <h4>Technology 1<span class="counter">90</span>%</h4>
                            <div class="progress_br">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="skill_item">
                            <h4>Technology 1<span class="counter">70</span>%</h4>
                            <div class="progress_br">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="skill_item">
                            <h4>Technology 1<span class="counter">95</span>%</h4>
                            <div class="progress_br">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="welcome_area p-4">
    <div class="container">
        <div class="row welcome_inner">
                <div class="m-auto">
                    <h2 class="text-center">What is about this project</h2>
                    <p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim hic dolore alias ut consequuntur? Voluptatibus laudantium nobis voluptates accusantium quam eos reiciendis facere nulla. Eos adipisci optio accusantium labore, dignissimos ullam debitis ex aliquid dicta nemo eum nulla sed. Debitis facere laboriosam atque architecto laudantium laborum dolore aliquam, velit eum obcaecati provident culpa alias libero ducimus in commodi eos rem! Necessitatibus, commodi pariatur, quo cum tempora aspernatur consequatur repellendus rerum dolorum sunt eum quasi sed, fuga iste doloribus neque quaerat vitae sequi? Voluptas doloremque natus esse error hic sequi qui, facilis placeat nisi vero numquam quasi eum dolore. Numquam, officiis.</p>
                    
                </div>
        </div>
    </div>
</section>

<section class="welcome_area p-3">
    <div class="container">
        <div class="row welcome_inner">
            
            <div class="col-lg-12">
                <div class="tools_expert">
                    
                    <div class="skill_main text-center ">

                        <div class="skill_item p-1">

                            <h2>Platforms:</h2>
                            <h4>Technology 1 <span class="counter">100</span>%</h4>
                            <p></p>
                        </div>
                        
                        <div class="skill_item p-1">
                            <h2>Industry</h2>
                            <h4>Technology 1 <span class="counter">100</span>%</h4>
                        </div>
                        <div class="skill_item p-1">
                            <h2>Technology used:</h2>
                            <h4>Technology 1 <span class="counter">100</span>%</h4>
                        </div>
                        <div class="skill_item p-1">
                            <h2>Industry</h2>
                            <h4>Technology 1 <span class="counter">100</span>%</h4>
                        </div>
                        
                        
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="profile_area">
    <div class="container">
        <div class="profile_inner p_rem">
         <div class="row">
             <div style="padding-bottom: 2rem; " class="m-auto"	>
                 <h1 class="text-center">This is project heading</h1>
                 <p class="text-center"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, quia!</p>
             </div>

             <!-- <div class="col-lg-7">
                 <div class="personal_text">
                     <h6>Hello Everybody, i am</h6>
                     <h3>Riken Khadela</h3>
                     <h4>Senior Python Developer</h4>
                     <p>"Experienced Python Developer with a proven track record of delivering high-quality code and solutions."</p>
                     <ul class="list basic_info">
                         <li><a href=""><i class="lnr lnr-calendar-full"></i> 21st, Aug, 2001</a></li>
                         <li><a href=""><i class="lnr lnr-phone-handset"></i> (91) 997 891 1838</a></li>
                         <li><a href="mailto:rikenkhadelamain@gmail.com"><i class="lnr lnr-envelope"></i> rikenkhadelamain@gmail.com</a></li>
                         <li><a href=""><i class="lnr lnr-home"></i> Surat, Gujrat, In. - 395010</a></li>
                     </ul>
                     <ul class="list personal_social">
                         <li><a href="https://www.facebook.com/riken.khadela.3/"><i class="fa fa-facebook"></i></a></li>
                         <li><a href="https://www.linkedin.com/in/riken-khadela-60b6341a6/"><i class="fa fa-linkedin"></i></a></li>
                     </ul>
                 </div>
             </div> -->
             <div class="">
                 <img class="img-fluid rounded-1" style="border-radius: 1.3rem;" src="static/img/portfolio/HC1-1080x720.jpg" alt="">
             </div>
         </div>
        </div>
 </div>
</section>

<section class="welcome_area p_70">
<div class="container">
    <div class="row welcome_inner">
            <div class="m-auto col-lg-7">
                <h2 class="text-center">what challanges we got</h2>
                <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur neque necessitatibus quas rem ullam, perspiciatis ipsa, ea atque praesentium non nam libero maiores esse quaerat vitae corrupti nobis. Ut, fugiat!</p>
                <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur neque necessitatibus quas rem ullam, perspiciatis ipsa, ea atque praesentium non nam libero maiores esse quaerat vitae corrupti nobis. Ut, fugiat!</p>
            </div>
    </div>
</div>
</section>
<section class="profile_area">
<div class="container">
    <div class="profile_inner p_rem">
     <div class="row">
         <div style="padding-bottom: 2rem; " class="m-auto"	>
             <h1 class="text-center">This is project heading</h1>
             <p class="text-center"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, quia!</p>
         </div>

         <!-- <div class="col-lg-7">
             <div class="personal_text">
                 <h6>Hello Everybody, i am</h6>
                 <h3>Riken Khadela</h3>
                 <h4>Senior Python Developer</h4>
                 <p>"Experienced Python Developer with a proven track record of delivering high-quality code and solutions."</p>
                 <ul class="list basic_info">
                     <li><a href=""><i class="lnr lnr-calendar-full"></i> 21st, Aug, 2001</a></li>
                     <li><a href=""><i class="lnr lnr-phone-handset"></i> (91) 997 891 1838</a></li>
                     <li><a href="mailto:rikenkhadelamain@gmail.com"><i class="lnr lnr-envelope"></i> rikenkhadelamain@gmail.com</a></li>
                     <li><a href=""><i class="lnr lnr-home"></i> Surat, Gujrat, In. - 395010</a></li>
                 </ul>
                 <ul class="list personal_social">
                     <li><a href="https://www.facebook.com/riken.khadela.3/"><i class="fa fa-facebook"></i></a></li>
                     <li><a href="https://www.linkedin.com/in/riken-khadela-60b6341a6/"><i class="fa fa-linkedin"></i></a></li>
                 </ul>
             </div>
         </div> -->
         <div class="">
             <img class="img-fluid rounded-1" style="border-radius: 1.3rem;" src="static/img/portfolio/HC1-1080x720.jpg" alt="">
         </div>
     </div>
    </div>
</div>
</section>
<section class="welcome_area p_70">
<div class="container">
    <div class="row welcome_inner">
            <div class="m-auto col-lg-7">
                <h2 class="text-center">How we have solved that</h2>
                <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur neque necessitatibus quas rem ullam, perspiciatis ipsa, ea atque praesentium non nam libero maiores esse quaerat vitae corrupti nobis. Ut, fugiat!</p>
                <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur neque necessitatibus quas rem ullam, perspiciatis ipsa, ea atque praesentium non nam libero maiores esse quaerat vitae corrupti nobis. Ut, fugiat!</p>
                
            </div>
    </div>
</div>
</section>


{% endblock %}
