{% extends "base.html" %}

{% block title %}Cart Shopping{% endblock %}

{% block content %}

<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="box_1620">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content text-center">
                    <h2>LikeMeFast</h2>
                    <div class="page_link">
                        <a href="{% url 'home' %}">Home</a>
                        <a href="{% url 'about' %}">LikeMeFast</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->


<!--================Home Banner Area =================-->
<section class="profile_area">
       <div class="container">
           <div class="profile_inner p_rem">
            <div class="row">
                <div style="padding-bottom: 2rem; " class="m-auto"	>
                    <h1 class="text-center">LikeMeFast : Social present </h1>
                    <p class="text-center">Expand your reach, enhance your engagement with AddMeFast</p>
                </div>

                <!-- <div class="col-lg-7">
                    <div class="personal_text">
                        <h6>Hello Everybody, i am</h6>
                        <h3>Riken Khadela</h3>
                        <h4>Senior Python Developer</h4>
                        <p>"Experienced Python Developer with a proven track record of delivering high-quality code and solutions."</p>
                        <ul class="list basic_info">
                            <li><a href=""><i class="lnr lnr-calendar-full"></i> 21st, Aug, 2001</a></li>
                            <li><a href=""><i class="lnr lnr-phone-handset"></i> (91) 997 891 1838</a></li>
                            <li><a href="mailto:rikenkhadelamain@gmail.com"><i class="lnr lnr-envelope"></i> rikenkhadelamain@gmail.com</a></li>
                            <li><a href=""><i class="lnr lnr-home"></i> Surat, Gujrat, In. - 395010</a></li>
                        </ul>
                        <ul class="list personal_social">
                            <li><a href="https://www.facebook.com/riken.khadela.3/"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/riken-khadela-60b6341a6/"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div> -->
                <div class="">
                    <img class="img-fluid rounded-1" style="border-radius: 1.3rem;" src="static/img/prt/prt1_1.png" alt="">
                </div>
            </div>
           </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Welcome Area =================-->
<section class="welcome_area p_120">
    <div class="container">
        <div class="row welcome_inner">
            <div class="col-lg-6">
                <div class="welcome_text">
                    <h4>What is about this project</h4>
                    <p></p>
                    <p class="text-center">AddMeFast is a website that offers a wide range of services to help users increase engagement on various social media platforms and websites. The services include increasing likes, followers, views, and other forms of engagement on Facebook, CoinMarketCap, Reddit, YouTube, Twitter, VK, Instagram, Pinterest, Reverbnation, SoundCloud, Twitch, TikTok, Likee, Telegram, and website hits. <br><br> The platform provides a convenient way for users to expand their social presence and reach a larger audience by using its powerful tools and features. It is a powerful and easy to use platform for anyone looking to boost their social media presence</p>
                    <div class="row">
                        <!-- <div class="col-md-4">
                            <div class="wel_item">
                                <i class="lnr lnr-database"></i>
                                <h4>$2.5M</h4>
                                <p>Total Donation</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="wel_item">
                                <i class="lnr lnr-book"></i>
                                <h4>1465</h4>
                                <p>Total Projects</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="wel_item">
                                <i class="lnr lnr-users"></i>
                                <h4>3965</h4>
                                <p>Total Volunteers</p>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="tools_expert">
                    <!-- <div class="m-auto">
                        <h4>What skills have been used </h4>
                        <p></p>
                    </div> -->
                    <div class="skill_main">

                        <div class="skill_item">
                            <h4>Python <span class="counter">100</span>%</h4>
                            <div class="progress_br">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="skill_item">
                            <h4>HTML/CSS/JS <span class="counter">60</span>%</h4>
                            <div class="progress_br">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="skill_item">
                            <h4>Selenium <span class="counter">70</span>%</h4>
                            <div class="progress_br">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="skill_item">
                            <h4>BeautifulSoup<span class="counter">40</span>%</h4>
                            <div class="progress_br">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="skill_item">
                            <h4>Django framework<span class="counter">95</span>%</h4>
                            <div class="progress_br">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="welcome_area p-4">
    <div class="container">
        <div class="row welcome_inner col-lg-9 m-auto">
                <div class="m-auto">
                    <!-- <h2 class="text-center">What is about this project</h2> -->
                    <p class="text-center">AddMeFast is a helpful tool for users looking to increase their social media presence and online reach. It offers a wide range of services, such as increasing likes, followers, and views across various social media platforms like Facebook, Twitter, Instagram, YouTube, TikTok, and more. <br><br> By using this platform, users can easily boost their online presence, gain more visibility and reach a larger audience. It also provides website hit services to increase the traffic on your website. Overall, this project can be a powerful tool for users looking to expand their online presence and grow their following on social media.</p>
                    
                </div>
        </div>
    </div>
</section>

<section class="profile_area">
    <div class="container">
        <div class="profile_inner p_rem">
         <div class="row">
             <div style="padding-bottom: 2rem; " class="m-auto"	>
                 <h1 class="text-center">Attractive Design with High performance</h1>
                 <p class="text-center">Elevate your online presence with our stunning design and high performance technology - AddMeFast</p>
             </div>

             <!-- <div class="col-lg-7">
                 <div class="personal_text">
                     <h6>Hello Everybody, i am</h6>
                     <h3>Riken Khadela</h3>
                     <h4>Senior Python Developer</h4>
                     <p>"Experienced Python Developer with a proven track record of delivering high-quality code and solutions."</p>
                     <ul class="list basic_info">
                         <li><a href=""><i class="lnr lnr-calendar-full"></i> 21st, Aug, 2001</a></li>
                         <li><a href=""><i class="lnr lnr-phone-handset"></i> (91) 997 891 1838</a></li>
                         <li><a href="mailto:rikenkhadelamain@gmail.com"><i class="lnr lnr-envelope"></i> rikenkhadelamain@gmail.com</a></li>
                         <li><a href=""><i class="lnr lnr-home"></i> Surat, Gujrat, In. - 395010</a></li>
                     </ul>
                     <ul class="list personal_social">
                         <li><a href="https://www.facebook.com/riken.khadela.3/"><i class="fa fa-facebook"></i></a></li>
                         <li><a href="https://www.linkedin.com/in/riken-khadela-60b6341a6/"><i class="fa fa-linkedin"></i></a></li>
                     </ul>
                 </div>
             </div> -->
             <div class="">
                 <img class="img-fluid rounded-1" style="border-radius: 1.3rem;" src="static/img/prt/prt1_2.png" alt="">
             </div>
         </div>
        </div>
 </div>
</section>

<section class="welcome_area p_70">
<div class="container">
    <div class="row welcome_inner">
            <div class="m-auto col-lg-7">
                <h2 class="text-center">what challanges we got</h2>
                <p class="">1. Ensuring the security of user's sensitive information, such as their payment information and social media accounts <br>2. Handling a high volume of data and traffic on the platform, and ensuring that the website remains fast and responsive <br>3. Integrating with various social media APIs and ensuring that they are all working as expected <br>4. Creating a user-friendly interface that is easy to navigate and understand for users of all skill levels <br>5. Testing and debugging the website to ensure that it is free of bugs and errors
 <br>6. Keeping up with the latest technology and trends in social media marketing and exchange to ensure that the website remains competitive and relevant.                </p>
                <!-- <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur neque necessitatibus quas rem ullam, perspiciatis ipsa, ea atque praesentium non nam libero maiores esse quaerat vitae corrupti nobis. Ut, fugiat!</p> -->
            </div>
    </div>
</div>
</section>
<section class="profile_area">
<div class="container">
    <div class="profile_inner p_rem">
     <div class="row">
         <div style="padding-bottom: 2rem; " class="m-auto"	>
             <h1 class="text-center">This is project heading</h1>
             <p class="text-center"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, quia!</p>
         </div>

         <!-- <div class="col-lg-7">
             <div class="personal_text">
                 <h6>Hello Everybody, i am</h6>
                 <h3>Riken Khadela</h3>
                 <h4>Senior Python Developer</h4>
                 <p>"Experienced Python Developer with a proven track record of delivering high-quality code and solutions."</p>
                 <ul class="list basic_info">
                     <li><a href=""><i class="lnr lnr-calendar-full"></i> 21st, Aug, 2001</a></li>
                     <li><a href=""><i class="lnr lnr-phone-handset"></i> (91) 997 891 1838</a></li>
                     <li><a href="mailto:rikenkhadelamain@gmail.com"><i class="lnr lnr-envelope"></i> rikenkhadelamain@gmail.com</a></li>
                     <li><a href=""><i class="lnr lnr-home"></i> Surat, Gujrat, In. - 395010</a></li>
                 </ul>
                 <ul class="list personal_social">
                     <li><a href="https://www.facebook.com/riken.khadela.3/"><i class="fa fa-facebook"></i></a></li>
                     <li><a href="https://www.linkedin.com/in/riken-khadela-60b6341a6/"><i class="fa fa-linkedin"></i></a></li>
                 </ul>
             </div>
         </div> -->
         <div class="">
             <img class="img-fluid rounded-1" style="border-radius: 1.3rem;" src="static/img/prt/prt1_3.png" alt="">
         </div>
     </div>
    </div>
</div>
</section>
<section class="welcome_area p_70">
<div class="container">
    <div class="row welcome_inner">
            <div class="m-auto col-lg-7">
                <h2 class="text-center">How we have solved that</h2>
                <p class="">1. Implementing robust security measures such as encryption and secure sockets layer (SSL) to protect user's sensitive information. <br>2. Scalable and robust server infrastructure to handle high volume of data and traffic.
                    
                    <br>3. Using well-documented and reliable libraries and frameworks to integrate with various social media APIs, and regularly testing and updating the integrations.
                    
                    <br>4. Creating a user-friendly interface through user testing and feedback, and regularly updating the design to keep it modern and easy to navigate.
                    
<br>5. Carrying out thorough testing and debugging, and implementing a system for tracking and resolving bugs.

<br>6. Keeping up with the latest technology and trends by regularly researching and testing new social media marketing and exchange tools, and incorporating the best ones into the website.



</p>
             
            </div>
    </div>
</div>
</section>
<section class="welcome_area p_70">
<div class="container">
    <div class="row welcome_inner">
            <div class="m-auto col-lg-7">
                <h2 class="text-center">Conclusion</h2>
                <p class="text-center">AddMeFast.com is a comprehensive social media marketing and exchange platform that offers a wide range of services to help users expand their online presence. With a user-friendly interface and powerful features, it is a great tool for anyone looking to grow their social media following and engagement. Despite some challenges in development, effective solutions can be implemented to ensure security, handle high volume data, integrate with APIs, create user-friendly interface and debug the website.</p>
   
             
            </div>
    </div>
</div>
</section>


{% endblock %}
